@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c5c5c8;
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 9% auto;
    /* vertical-align: middle; */
    max-width: 750px;
    min-height: 430px;
    width: 96%;
    background-color: #111a28;
    position: relative;
    display: flex;
}

.nike__galery {
    width: 65%;
}

.logo {
    position: absolute;
    top: 6%;
    left: 4%;
}

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    /* max-width: 90%;
    max-height: 80%; */
}

.nike__colors {
    position: relative;
    top: 88%;
    left: 30%;

}

.nike__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    display: inline-table;
    margin: 1% 1%;
    padding: 2px;
    border: transparent;
}

.black {
    background-color: #1f273f;
}

.gray {
    background-color: #ffffff;   
}

.red {
    background-color: #ed3333;  
}

.blue {
    background-color: #29e3ea;
}

li:hover {
    transform: scale(1.4);
}

.nike__info {
    width: 35%;
    color: #e1e1e1;
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.name {
    width: 80%;
    font-size: 2.4rem;
    position: relative;
    top: 15%;
}

.description {
    width: 80%;
    opacity: 0.54;
    margin: 30% 0 12% 0;
    line-height: 14px;
}

.stars2 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 0;
}

.star2 {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../img/star2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: -1px 0 -13px;
}

.size, .qty {
    padding: 0 20px 0 10px;
    background-image: url(../img/Rectangle_2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #111a28;
    border-color: #111a28;
    appearance: none;
    -webkit-appearance: none;
    color: #e1e1e1;
    font-size: 1.4rem;
    opacity: .8;
    margin-top: 25px;
}

.size + .qty {
    margin-left: 5%;
}

.size {
}

.qty {
}

.btn {
    width: 65%;
    height: 40px;
    display: block;
    background-color: #111a28;
    border: none;
    color: #e1e1e1;
    margin: 14% 0 0 10%;
    opacity: .8;
}

.btn:hover {
    border: 1px solid #e1e1e1;
    opacity: .8;

}
.btn:focus,
.btn:active {
    border: 1px solid #111a28;
    color: #111a28;
    outline: none;
    transition: .5s ease-in-out;
}
